form ul {
    display: flex;
    padding: 20px;
}

form li {
    border-radius: 6px;
    -webkit-box-shad1w: 2px 1px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shad: 2px 1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.4);
    max-width: 300px;
    padding: 20px;
    margin: 0 1.5px;
    border: 1px solid #fbf5f5;
    cursor: pointer;
    transition: all .6s;
}

form li:hover {
    box-shadow: none;
    color:rgb(0 148 255);
    border: 1px solid rgb(0 148 255);
    -webkit-box-shadow: 1px 2px 1px 0px rgba(0, 148, 255, 0.4);
    -moz-box-shadow: 1px 2px 1px 0px rgba(0, 148, 255, 0.4);
    box-shadow: 1px 2px 1px 0px rgba(0, 148, 255, 0.4);
}

form li.selected {
    color:rgb(0 148 255);
    border: 1px solid rgb(0 148 255);
    border: 1px solid rgb(0 148 255);
    -webkit-box-shadow: 1px 2px 1px 0px rgba(0, 148, 255, 0.4);
    -moz-box-shadow: 1px 2px 1px 0px rgba(0, 148, 255, 0.4);
    box-shadow: 1px 2px 1px 0px rgba(0, 148, 255, 0.4);
}

form li h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
